.cart-icon {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 25px;
    height: 25px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    height: 14px;
  }
}